@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800;900&display=swap');


body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.swiper {
  width: 100%;
  height: 100%;
  /* From https://css.glass */
  /* From https://css.glass */
  /* From https://css.glass */
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* background: #fff; */
  color: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
 
  justify-content: center;
  
  /* background-color: #0f0f0f; */
  align-items: center;
  /* From https://css.glass */
}

.swiper-slide div {
  /* display: block; */
  /* width: 100%;
  height: 100%; */
  
}

#image {
    height:auto;
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    position:relative;
    padding-bottom: 100px;

}
/* #image::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-image: linear-gradient(to top, #0f0f0f, rgba(0,0,0,1));
} */
